*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Gilroy";
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    width: 100%;
    height: 100%;
    background-color: rgb(246,246,246);
    display: flex;
    overflow: hidden;
}
#left{
    width: 60%;
    height: 100%;
    background-color: rgb(214, 216, 218);
}
#left img{
    width: 150px;
    position: absolute;
    top: 0%;
    left: 3%;
}
#left p{
    top: 15%;
    position: relative;
    font-size: 12px;
    left: 5%;
}
#left>h1{
    font-size: 200px;
    transform: rotate(-90deg);
    left: -7%;
    position: absolute;
    top: 40%;
}
#left #black{
    width: 2px;
    height: 100%;
    background-color: black;
    left: 17%;
    top: 0%;
    position: absolute;
}
#ll h2{
     font-size: 60px;
     top: 0;
     left: 18%;
     position: absolute;
}
#ll p{
    font-size: 12px;
    top:5%;
    left: 23%;
    position: absolute;
}
#lr h2{
    font-size: 60px;
    top: 0%;
    position: absolute;
    left: 35%;
}
#lr p{
    font-size: 12px;
    top:5%;
    left: 41%;
    position: absolute;
}
#rotate h2{
    transform: rotate(-90deg);
    position: absolute;
    bottom: 15%;
    left: 12%;
}
#rotate p{
    transform: rotate(-90deg);
    position: absolute;
     top: 78%;
     left: 16%;
    
}
#date {
    top: 55%;
    left: 35%;
    position: absolute;
      
}
#date h1{
    margin-bottom: 20px;
}
#line1{
    width: 2px;
    height: 45%;
    background-color: black;
    top: -3%;
    left: 53%;
    position: absolute;
}
#aa{
    top: 41.5%;
    left: 52.5%;
    position: absolute;
    font-size: 18px;
    font-weight: 900;
}
#bb{
    top: 56%;
    left: 52.5%;
    position: absolute;
    font-size: 18px;
    font-weight: 900;
}
#line2{
    width: 2px;
    height: 40%;
    background-color: black;
    left: 53%;
    position: absolute;
    top:58%;
}
#round{
    width: 65px;
    height: 65px;
    background-color:rgb(214, 216, 218);
    border-radius: 50%;
    top: 45%;
    left: 51%;
    border: 2px solid black;
    position: absolute;
}
#round h5{
    top: 45%;
    left: 5%;
    position: relative;
}
#date2{
    top: 10%;
    left: 55%;
    position: absolute;
}
#date2 h5{
      margin-top: 30px;
      opacity: 0.7;
}
#date3{
    top: 60%;
    left: 55%;
    position: absolute;
}
#date3 h5{
      margin-top: 30px;
      opacity: 0.7;
}
#xx{
    position: absolute;
    top: 5%;
    left: 55%;
}
#yy{
    position: absolute;
    bottom: 5%;
    left: 55%;
}
#right{
    width: 40%;
    height: 100%;
    background-image: url(https://images.unsplash.com/photo-1535161531861-4a5d0a14bf40?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
}
#right #nav{
    width: 100%;
    height: 30px;
    display: flex;
}
#nav h4{
    margin-top: 10px;
    margin-left: 20px;
    font-weight: 600;
    text-transform: uppercase;
}
#nav h3{
    margin-top: 10px;
     right: 2%;
    font-weight: 500;
    text-transform: uppercase;
    position: absolute;
}
#right>h4{
    text-transform: uppercase;
    position: absolute;
    bottom: 5%;
    right: 2%;
    font-weight: 600;
}
#right i{
    top: 40%;
   position: relative;
   left: 80%;
  
}